<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimatedShowLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>473EB5551D1A2D0700C00D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>473EB56E1D1A2D0700C00D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>473EB5791D1A2D0700C00D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
